.site-footer-inner {
    padding-top: 40px;
    padding-bottom: 40px;
}

.domwo-logo-img-footer {
    padding: 10px 10px 10px 10px;
    margin-bottom: 40px;
}

@include media('>medium') {

    .site-footer {

        &::before {
            height: 202px;
        }
    }

    .site-footer-inner {
        justify-content: space-between;
    }

    .footer-brand,
    .footer-copyright {
        justify-content: flex-start;
    }
}